:root {
  --main-color: #ffffff;
  --second-color: #000000;
  --grad: #00c5eb;
  --grad-2: #b544fe;
  --background-section-color: #06071b;
  --elipse20-grad: rgba(0, 197, 235, 0.5);
  --elipse19-grad: rgba(125, 85, 255, 0.5);
  --header-grad-1: rgba(181, 68, 254, 0.3) 89.43%;
  --header-grad-2: rgba(0, 197, 235, 0.3) -1.97%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--main-color);
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hero {
  background-color: var(--background-section-color);
  padding-top: 12px;
  padding-bottom: 158px;
}

.logo {
  font-size: 28px;
  line-height: calc(34 / 28);
  color: var(--main-color);
}

.menu a {
  font-size: 12px;
  line-height: calc(15 / 12);
  color: var(--main-color);
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main-title {
  font-size: 40px;
  line-height: calc(48 / 40);
  margin-top: 147px;
  margin-bottom: 12px;
}

.main-subtitle {
  font-size: 20px;
  line-height: calc(24 / 20);
  margin-bottom: 28px;
}

.hero-list {
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-txt {
  font-weight: 700;
  line-height: calc(19 / 16);
  display: flex;
  align-items: center;
  gap: 4px;
}
.hero-txt::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../images/arrow.svg);
}

.hero-btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);
  padding: 12px 60px;
  border-radius: 5px;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  color: var(--main-color);
}

.header {
  background-image: linear-gradient(
    90.03deg,
    var(--header-grad-2) -1.97%,
    var(--header-grad-1) 89.43%
  );
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
